body {
    background-image: url('./image/exchange.jpg');
    -webkit-background-size: 100%;
    background-size: 100%;
}

h1 {
    text-align: center;
}

.exchange{
    margin: auto;
    position: relative;
    width: 400px;
    background: #69790fc7;
    border-radius: 10px;
    text-align: center;
    padding: 6px;
}

.exchange::before {
    top: 10px;
    left: 10px;
}

.exchange::after {
    top: 10px;
    right: 10px;
}

#exchange-today {
    padding-left: 26px;
}

.exchange > table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 16px 6px;
}

.exchange > table > tbody > tr > th > p {
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
}

.exchange > table > tbody > tr > td[colspan="3"] {
    text-align: center;
}

#exchange-usd,
#exchange-eur,
#exchange-rur,
#exchange-btc,
#exchange-sale-usd,
#exchange-sale-eur,
#exchange-sale-rur,
#exchange-sale-btc {
    margin: 0 auto;
    font-size: 26px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
    color: #fff;
    line-height: 28px;
}
#sold-buy {
    background: hsla(110, 41%, 0%, 0.1);
    text-transform: uppercase;
}

td {
    border-radius: 4px;
}
